.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#eventForm{
    margin: 0 10%;
    width: 80%;
    margin-top: 70px;
    padding: 100px;
    background-color: bisque;
}
#eventForm input{
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
}
#eventForm button{
    width: 100%;
    height: 55px;
    border: none;
    background-color: green;
    color: aliceblue;
    font-weight: 900;
}

#calendar{
    
    padding: 0 5%;
    margin-top: 70px;
}

#eventForm{
    padding: 0 5%;
}