
#calendar {
    width: 100%;
    height: 600px;
    margin-block: 50px;
}

.fc-day-grid-event {
    background-color: black;
    color: #ffffff;
    border: none;
}

.fc-event-title {
    font-weight: bold;
    text-decoration: none;
}

 