.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;
    margin-top: 80px;
}
.gallery-box{
    margin-bottom: 50px;
    width: 95%;
    height: 350px;
}
.gallery{
    background-color: bisque;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .gallery-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0 5%;
            margin-top: 80px;
        }
                .gallery-box {
                    margin: 0 auto;
                    margin-bottom: 50px;
                    width: 95%;
                    height: 350px;
                }
}


@media only screen and (max-width: 760px) {
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr ;
        padding: 0 5%;
        margin-top: 80px;
    }
}